name: PlatformIO CI Artifact Upload (Main Branch)

on:
  push:
    branches: [ main ]

jobs:
  upload-artifacts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/upload-artifact@v4  # Upload artifacts for download in main.yml
        with:
          name: my-build-files  # Name for the uploaded artifact
          path: .pio\build\target_run  # Path to the files relative to the runner

